{% extends "base.html" %}

{% block content %}

    {% include "messages/navbar.html" %}

    <div class="d-flex justify-content-end mb-1">
        <form 
            method="GET" 
            action="{% url 'messages:search_messages' %}" 
            class="d-flex position-relative" 
            style="max-width: 400px; width: 100%;"
            id="searchForm"
        >

            <input 
                class="form-control me-2" 
                type="search" 
                name="query" 
                id="searchInput"
                placeholder="Search messages..." 
                value="{{ request.GET.query }}"
                autocomplete="off"
                required
            >

            <button class="btn btn-outline-primary" type="submit">
                Search
            </button>

            <div 
                id="suggestionsBox" 
                class="list-group position-absolute"
                style="top: 42px; left: 0; width: 315px; z-index: 1000;">
            </div>

        </form>
    </div>

    {% block messages_content %}
    {% endblock %}

    <script>
        const searchInput = document.getElementById("searchInput");
        const suggestionsBox = document.getElementById("suggestionsBox");

        searchInput.addEventListener("input", function () {
            const query = searchInput.value.trim();

            if (query.length < 1) {
                suggestionsBox.innerHTML = "";
                return;
            }

            fetch(`/search-suggestions/?query=${encodeURIComponent(query)}`)
                .then(response => response.json())
                .then(data => {
                    suggestionsBox.innerHTML = "";

                    data.suggestions.forEach(item => {
                        const option = document.createElement("a");
                        option.className = "list-group-item list-group-item-action";
                        option.textContent = item;
                        option.href = `/search/?query=${encodeURIComponent(item)}`;
                        suggestionsBox.appendChild(option);
                    });
                });
        });

        document.addEventListener("click", function (event) {
            if (!event.target.closest("#searchForm")) {
                suggestionsBox.innerHTML = "";
            }
        });
    </script>

{% endblock %}